<div id="rent_time" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">租还车时间</h3>
  </div>
  <div class="modal-body">
    <h4>城六区</h4>
    <p>租赁站点租车服务时间为6:00至24:00，还车服务时间为全天24小时。</p>
    <h4>亦庄</h4>
    <p>租赁站点租车服务时间为全天24小时，还车服务时间为全天24小时。</p>
    <h4>大兴</h4>
    <p>租赁站点租车服务时间为全天24小时，还车服务时间为全天24小时。</p>
    <h4>通州</h4>
    <p>租赁站点租车服务时间为6:30至21:30，还车服务时间为全天24小时。</p>
  </div>
  <div class="modal-footer">
    <button class="pure-button  pure-button-primary" data-dismiss="modal" aria-hidden="true">确定</button>
  </div>
</div>