<div id="slogan" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">北京公共自行车</h3>
  </div>
  <div class="modal-body">
    <h4>北京公共自行车</h4>
    <img src="/img/bicycle/bjgj.gif">
    <img src="/img/bicycle/logo.png">
    <p>人文交通・绿色交通・科技交通</p>
    <h4>绿色北京, 自由骑行</h4>
    <p>畅通无阻，低碳环保，强身健体，让我们一起为北京的蓝天贡献一份力量</p>
    <img src="/img/bicycle/pic/1354017124.jpg" width='520'>
  </div>
  <div class="modal-footer">
    <button class="pure-button  pure-button-primary" data-dismiss="modal" aria-hidden="true">确定</button>
  </div>
</div>