<!DOCTYPE html>
<html>
    <head>
        <title>Pana</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no"> 
        <link rel="shortcut icon" href="/img/favi.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/libs/css/pure-min.css">
        <style type="text/css">
            h1{
                font-size: 800%;
                margin: 0;
                padding: 0;
                color: #1f8dd6;
                font-weight: 100;
                text-align: center;
                margin-top: 200px;
            }
        </style>
    </head>
    <body>
        <h1>Pana</h1>
    </body>
</html>